<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notepad</title>
    <link rel="stylesheet" href="/css/notepad.css">
    <style>
        @font-face {
            font-family: Montserrat-Regular;
            src: url(/vectors/fonts/Montserrat-Regular.otf);
        }
        @font-face {
            font-family: Montserrat-Light;
            src: url(/vectors/fonts/Montserrat-Light.otf);
        }
         @font-face {
            font-family: Montserrat-Black;
            src: url(/vectors/fonts/Montserrat-Black.otf);
        }
    </style>
</head>
<body>
{{!-- <div id="welcomeScreen">
    <div id="welcomeConts">
        <span id="notePadLogo">
        <img  src="/vectors/logos/NotePad-Logo.png" width="150" alt="">
        </span>
    </div> --}}

</div>
    <div id="welcome">
        <div id="notePadLogo" style="display: justify-content: space-between; align-items: center; padding: 50px;">
            <img  src="/vectors/logos/NotePad-Logo.png" width="200" alt="">
        </div>
    </div>
    <div id="navBar">
        <span id="notePadLogo">
            <img  src="/vectors/logos/NotePad-Logo.png" width="70" alt="">
        </span>
        <span>
            <img src="/vectors/icons/menu (1).png" width="25" alt="" style="filter: brightness(0) invert(1);">
        </span>
    </div>

    <div id="previewPage">
        <span id="headPad">
            {{!-- <p id="title">Welcome to NotePad!</p> --}}
            <span id="headPadBtns">
            {{!-- <span>search</span> --}}
            <button id="createBtn" class="crtBtn">
                <img src="/vectors/icons/addBtnv2.png" width="20" alt="">
            </button>
            </span>
           
            
        </span>
        <div>
            {{#each notePath}} 
            <div
                style="display: flex; justify-content:space-between; margin-top:5px; margin-bottom:-2px; font-size: 20px;">
                <p class="noteTitleClass" id="titleFromData" style="margin-top:5px; margin-bottom:-2px; font-size: 12px; padding-top: 7px; padding-bottom: 7px;">{{this.title}}</p>
                <span>
                    <span class="editNote"
                    hx-get="/note/{{this.id}}"
                    hx-target="#noteContent"
                    hx-swap="innerHTML"
                    hx-trigger="click"><img src="/vectors/icons/edit.png" alt="" width="21" height="auto"></span>
                    <span class="deleteBtn" hx-delete="/notes/{{this.title}}"><img src="/vectors/icons/trash-bin.png" alt="" width="16" height="auto"></span>    
                </span>
            </div>
            {{/each}}
        </div>
    </div>
    <div id="createPage" style="display: none;">
        <div id="subNavi">
            <span>Creating Mode</span>
            <span id="noteSaveMgs" style="display: none;">
            <span id="popUp">
                <img src="/vectors/icons/quality.png"  width="16" alt="">
                Saved
                <span style="display: flex; align-items: center; gap: 2px;">
                    <div style="background-color: green; height:4px; width: 4px;  border-radius: 3px;"></div>
                    <div style="background-color: rgb(5, 197, 5); height:4px; width: 4px;  border-radius: 3px;"></div>
                    <div style="background-color: rgb(121, 210, 121); height:4px; width: 4px;  border-radius: 3px;"></div>
                </span>
            </span>
            </span>
        </div>
        <div>
            <span></span>
            
            <textarea id="title" rows="1" placeholder="Title"></textarea>
            <textarea id="paragraph" placeholder="Your journey starts now..."></textarea>
        </div>
        <div id="floatsPanel">
            <button id="saveBtn">
                <img src="/vectors/icons/savebtnv2.png" width="20" alt="">
            </button>
            <button id="closeBtn">
                <img src="/vectors/icons/closebtnv2.png" width="16" alt="">
            </button>
        </div>

    </div>
        <div id="editPage" style="display: none;">
        <span id="changesSaveMgs" style="display: none;">changes saved!</span>
        Editing Mode
        <div id="noteContent">
            Contents for notes are shown here

        </div>
         <div id="floatsPanelContent">
            <button id="appendBtn">
                <img src="/vectors/icons/savebtnv2.png" width="20" alt="">
            </button>
            <button id="closeEditPageBtn">
                <img src="/vectors/icons/closebtnv2.png" width="16" alt="">
            </button>
        </div>
    </div>
    <script src="./js/notepad.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/htmx.min.js"></script>
</body>
</html>