body{
    background: #001827;
    color: white;
    font-size: 12px;
    margin: 0;
    font-family: Montserrat-Light;
    position: relative;
    height: 100vh;
    transition: opacity 0.2s;
}
#welcomeScreen{
    position: fixed;
    z-index: 10;
    background: #001d2f;
    color: white;
    height: 100%;
    width: 100%;
    

}
#welcomeConts{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#welcomeLogo{
    background: #001d2f;
border: solid 1px #00ba4a; 
    width: 53px;
    height: 53px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
}

#welcome{
    display: none;
}
#navBar{
    background: #001d2f;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: solid 0.5px rgb(3, 53, 84) ; 
    font-family: Montserrat-Black;
}

#headPad{
    text-align: center; 
}
#title{
    font-weight: bold;
    font-size: 25px;
    background: transparent;
    color:  #00ba4a;
    margin-top: 5px;  margin-bottom: -5px; width: 100%; overflow-y: 
    hidden; resize: none; outline: none; 
    border: none; font-size: 17px; font-weight: bold; 
}
#title::placeholder{
    color:rgba(0, 186, 74, 0.52);
}

#headPadBtns{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

.crtBtn{
    position:fixed;
    bottom: 20px;
    right: 20px;
    /* background: linear-gradient(to right, #2573ff, #00ba4a); */
    background: #001d2f;
    border: solid 1px #00ba4a; 
    width: 53px;
    height: 53px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#previewPage{
    padding-left: 15px;
    padding-right: 15px;
}
#titleFromData::first-letter{
    text-transform: uppercase;
}
.deleteBtn{
    cursor: pointer;
}
.editNote{
    cursor: pointer;
}
#createPage{
    height: fit-content;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#paragraph{
    min-height: 100px; width: 100%; overflow-y: hidden; resize: none; background-color:#36363600; color: rgb(208, 207, 207); outline: none; border: none;" placeholder="Begin your jounery right here...
}

#floatsPanel{
    position:fixed;
    bottom: 20px;
    right: 20px;
}
#saveBtn{
    /* background: linear-gradient(to right, #2573ff, #00ba4a); */
    background: #001d2f;
    border: solid 1px #00ba4a; 
    width: 53px;
    height: 53px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
}

#closeBtn{
    /* background: linear-gradient(to right, #2573ff, #00ba4a); */
    background: #001d2f;
    border: solid 1px #2573ff; 
    width: 53px;
    height: 53px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#subNavi{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#popUp{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 5px;
    font-size: 9px;
}
#floatsPanel{
    position:fixed;
    bottom: 20px;
    right: 20px;
}
#appendBtn{
    /* background: linear-gradient(to right, #2573ff, #00ba4a); */
background: #001d2f;
border: solid 1px #00ba4a; 
    width: 53px;
    height: 53px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
}

#closeEditPageBtn{
    /* background: linear-gradient(to right, #2573ff, #00ba4a); */
    background: #001d2f;
    border: solid 1px #2573ff; 
    width: 53px;
    height: 53px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#editPage{
    height: fit-content;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#floatsPanelContent{
    position:fixed;
    bottom: 20px;
    right: 20px;
}
#noteContent{
word-wrap: break-word;
}

#menuHub{
    position: relative;
    cursor: pointer;
}
#menuDropdown{
    position: absolute;
    bottom: -200px;
    right: 0px;
    background: linear-gradient(to right, #2573ff, #00ba4a);
    border-radius: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}
#menuDropdownConts{
    width: 98%;
    height: 98%;
    text-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 10px;
    font-family: Montserrat-Light;
    background: #001d2f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}

.routBtn{
    padding-left: 7px;
    padding-right: 7px;
    display: flex; 
    align-items: center;
    gap: 5px;
}

.routBtn:hover{
    color: rgb(0, 186, 74);
    cursor: pointer;
}
.breakerBar{
    width: 100%; height: 1px; background: linear-gradient(to right,rgba(37, 113, 255, 0.66),rgba(0, 186, 74, 0.65)); filter: opacity(40%);
}

#notBar{
    background: #001d2f; 
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    display: flex; 
    justify-content:space-between;
    align-items: center;
    margin-top:5px; margin-bottom:-2px; font-size: 20px;
}

#secAddBtn{
    background: linear-gradient(to right, #2573ff, #00ba4a); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 5px;
    border-radius: 3px;
}
.pageConstructionMgs{
    padding-top: 40px;
    padding-bottom: 10px;
}

.menuPageFeaIcon{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.menuPageFeaTitle{
    color:rgba(255, 255, 255, 0.8);
    font-size: 15px;    
    text-align: center; 
    margin-top: 5px;
    margin-bottom: -2px;
}

.menuPageFeaMgs{
    color:rgba(255, 0, 0, 0.71);
    font-size: 10px;
    text-align: center;
}
